h3 {
    font-size: 28px;
    font-family: 'Permanent Marker', cursive;
    cursor: pointer;
    color: rgba(31, 31, 32, 0.952);
    text-shadow: 2px 2px 10px darkslateblue; 
}
body {
    background-color: rgba(236, 235, 233, 0.795);
}